@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
              <form asp-controller="Home" asp-action="WordResults">
            <div id="searchbar" class="input-group mb-3">
                  <input type="text" name="word" class="form-control" placeholder="Enter Word">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
            </form>

              @*<form asp-controller="Home" asp-action="ImageResults">
                <input type="text" name="searchTerm" />
                <input type="submit" value="Filter" />
            </form>*@
      </div>
